<section [@fadeInOut] class="container description">
    <h1 >Sobre mi</h1>
    <div class="row justify-content-center">
        <img src="../../assets/img/mifalsafoto.jpg" alt="" class="col-lg-3 imagen-fluid img-thumbnail">
        <p class="col-lg-7">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quis asperiores omnis quaerat nihil, sunt dignissimos quo nam exercitationem odit ad praesentium doloremque expedita amet quam voluptates itaque nobis facere nostrum quibusdam ipsum ducimus. Numquam exercitationem unde necessitatibus minus obcaecati, minima tempora, officiis aspernatur consectetur quas cupiditate expedita sunt voluptas?. </p>
    </div>
</section>
  
