<section [@fadeInOut] >
    <article class="container description">
        <h1>Desarrollo web a medida</h1>
        <p>Prestamos servicio de consultoría integral, donde detectamos tus necesidades, las priorizamos y te aportamos los consejos y sugerencias necesarios de cara a desarrollar o mejorar tu presencia online.</p>
    </article>

    <article class="container customers my-4">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-6"><img src="../../assets/img/customers/customer-1.svg" alt="" data-toggle="tooltip" data-placement="bottom" title="Customer 1" class="customer img-fluid d-block mx-auto m-2 p-4 p-md-0"></div>
            <div class="col-lg-2 col-md-4 col-6"><img src="../../assets/img/customers/customer-2.svg" alt="" data-toggle="tooltip" data-placement="bottom" title="Customer 2" class="customer img-fluid d-block mx-auto m-2 p-4 p-md-0"></div>
            <div class="col-lg-2 col-md-4 col-6"><img src="../../assets/img/customers/customer-3.svg" alt="" data-toggle="tooltip" data-placement="bottom" title="Customer 3" class="customer img-fluid d-block mx-auto m-2 p-4 p-md-0"></div>
            <div class="col-lg-2 col-md-4 col-6"><img src="../../assets/img/customers/customer-4.svg" alt="" data-toggle="tooltip" data-placement="bottom" title="Customer 4" class="customer img-fluid d-block mx-auto m-2 p-4 p-md-0"></div>
            <div class="col-lg-2 col-md-4 col-6"><img src="../../assets/img/customers/customer-5.svg" alt="" data-toggle="tooltip" data-placement="bottom" title="Customer 5" class="customer img-fluid d-block mx-auto m-2 p-4 p-md-0"></div>
            <div class="col-lg-2 col-md-4 col-6"><img src="../../assets/img/customers/customer-6.svg" alt="" data-toggle="tooltip" data-placement="bottom" title="Customer 6" class="customer img-fluid d-block mx-auto m-2 p-4 p-md-0"></div>
        </div>
    </article>
</section>

